@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {margin: 0px; padding: 0px; box-sizing: border-box;}
ul,ol,li {list-style: none;}
a {text-decoration: none;}

body {
    background: #efefef;
}

header {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(45deg, aqua, royalblue);
    transition: 1s;

    h1 {
        font: bold 50px/1 'orbitron'; color: #fff;
        letter-spacing: 1px;
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-150%);
        &::before {
            content: "UI/UX DEVELOPMENT";
            display: block;
            font: 14px/1 'orbitron';
            color: #fff;
            letter-spacing: 1px;
            position: absolute;
            top: 145px;
            left: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            background: #fff;
            margin-top: 20px;
        }
    }

    ul {
        position: absolute;
        bottom: 100px;
        left: 50px;

        li {
            float: left;
            margin-right: 10px;
             
            a {
                font-size: 20px;
                color: #fff;

                span {
                    opacity: 0.7;
                    display: inline-block;
                    transform: scale(0.7) translateX(-10px);
                    
                }
            }
        }
    }
}

main {
    margin-left: 400px;
    padding: 20px;
    &::after {
        content: '';
        display: block;
        clear: both;
    }

    ul {
        float: right;
        margin-bottom: 10px;

        li {
            float: left;
            width: 100px;
            height: 26px;

            a {
                display: block;
                width: 100%;
                height: 100%;
                font: bold 7px/26px 'orbitron';
                color: #aaa;
                text-align: center;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
            }
            &.on a {
                background: linear-gradient(45deg, aqua, royalblue);
                color: #fff;
                box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
            }
        }
    }

    section {
        width: 100%;
        float: left;

        article {
            width: 20%;
            padding: 12px;
            float: left;

            div {
                width: 100%;
                background: #fff;
                border-radius: 4px;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
                padding: 14px;

                img {
                    width: 100%;
                }

                h2 {
                    margin-top: 15px;
                    font: bold 11px/1 'arial';
                    color: #444;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                }

                p {
                    font: 10px/1.2 'arial';
                }

            }
        }
    }

}

@media screen and(max-width: 1559px) {
    //헤더 부분 줄이고, 4 그리드로 넣자
    header {
        width: 350px;
    }

    main {
        margin-left: 350px;

        section {
                
            article {
                width: 25%;
            }
        }
    }
    
}

@media screen and(max-width: 1199px) {
    //헤더를 위로 올리고, sns에 글자를 지우자
    header {
        width: 100%x;
        height: 80px;
        position: relative;
    
        h1 {
            font: bold 50px/1 'orbitron'; 
            transform: translateY(-50%);
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
    
        ul {
            bottom: 25px;
            left: auto; //라이트로 옮겨야 해서 오토로 초기화시킴
            right: 50px;
    
            li {
                
                margin-right: 20px;
                 
                a {

                    span {
                        display: none;                      
                    }
                }
            }
        }
    }
    
    main {
        margin-left: 0px;
    
        }
}

@media screen and(max-width: 899px) {

    main {

        section {
                
            article {
                width: 33.333%;
            }
        }
    }
}

@media screen and(max-width: 679px) {

    main {

        section {
                
            article {
                width: 50%;
            }
        }
    }

}

@media screen and(max-width: 539px) {

    header {

        ul {display: none;}

    }

    main {

        ul {

            width: 100%;

            li {

                width: 32%;
                margin-left: 2%;
                &:first-child {margin-left: 0;}
            }
        }

        section {

            article {width: 100%;}
        }
    }
}